Source: gbackground
Section: gnome
Priority: optional
Maintainer: Alejandro Garrido Mota <garridomota@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://www.mogaal.com/gbackground
Vcs-Git: git://github.com/mogaal/gbackground.git
Vcs-Browser: https://github.com/mogaal/gbackground

Package: gbackground
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, perl, libglib-perl, libgtk2-gladexml-perl,
         libgtk2-perl, libproc-pid-file-perl, libui-dialog-perl, libyaml-perl,
         libswitch-perl | perl (<< 5.10.1-13) 
Description: interval-based gnome background changer
 Gbackground allow to change periodically the GNOME background
 in intervals of a second, it uses the GNOME tools to do this. 
 The user indicates the source directory of the images.
